{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %} PickyKitty {% endblock %}


{% block content %}
<h1 class = 'text-center'> Hello, {{user.nickname}}!</h1>

<div class = "container mt-5">
	<div class='row'>
		<div class="col md-6 m-auto">
			<h2 class="text-center mb-3">
	        Input some foods your kitty likes and dislikes:
		    </h2>
	    </div>
	</div>
</div>

<div class="form-group text-center">
  <form action="/results" method="GET" autocomplete="off">
    

       <h3>  Yum! </h3>

      <div class="container mt-1 mb-1">
      	 1) 
      	<input type='text' id='product_name_1' name ='pos_1'>
  	  </div>

  	  <div class="container mt-1 mb-1">
      	 2) 
      	 <input type='text' id='product_name_2' name ='pos_2'>
  	  </div>

      <div class="container mt-1 mb-1">
      	<td> 3) </td> 
      	<tr> <input type='text' id='product_name_3' name ='pos_3'></tr>
  	  </div>

  	   <h3> No thank you! </h3> 
  	  <div class="container mt-1 mb-1">
      	<td> 1) </td> 
      	<tr> <input type='text' id='product_name_4' name ='neg_1'></tr>
  	  </div>
  	  <div class="container mt-1 mb-1">
      	<td> 2) </td> 
      	<tr> <input type='text' id='product_name_5' name ='neg_2'></tr>
  	  </div>
  	  <div class="container mt-1 mb-1">
      	<td> 3) </td> 
      	<tr> <input type='text' id='product_name_6' name ='neg_3'></tr>
  	  </div>
    </div>

    <div class= 'text-center'>
      <button type='submit' id="submit-button-home" class='btn btn-dark btn=lg'>Find something my kitty will like!</button>
    </div>

  </form>
</div>




</div> <!-- /.container-->

<!-- scripts-->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='data/foods.js') }}"></script>

<script> 
	const foodlist = foods.map(f=> f.name)
	const idlist = ['product_name_1', 'product_name_2',
	'product_name_3','product_name_4','product_name_5',
	'product_name_6']
	idlist.forEach(id => { 
		const element = document.getElementById(id)
		autocomplete(element,foodlist)
	 })
</script>

{% endblock %}
